.logo {
  color: white;
}

.app-content {
  padding-top: 2rem;
}

.app-header {
  position: static;
}

.page-bottom {
  margin-bottom: 3rem;
}

.input-control {
  margin-bottom: 1rem;
}

.radio-list {
  margin-bottom: 1rem;
}

.right {
  float: right;
}