.logo {
  color: #212529;
}

.app-content {
  margin-top: 3rem;
  overflow: scroll;
}

.app-header {
  position: static;
}

.App {
  overflow: scroll;
}

.page-bottom {
  margin-bottom: 3rem;
}

.input-control {
  margin-bottom: 2rem;
}

.radio-list {
  margin-bottom: 2rem;
}